<% provide :title do %><%= @poll.name %><% end %>

<div class="polls-show">
  <%= render "poll_header" %>

  <%= render "poll_subnav" %>

  <div class="row margin">
    <div class="small-12 medium-12 large-12 column">
      <%= render "callout" %>

      <% if @poll.voted_in_booth?(current_user) %>
          <div class="callout warning">
            <%= t("polls.show.already_voted_in_booth") %>
          </div>
      <% else %>

          <% if current_user && @poll.voted_in_web?(current_user) && !@poll.expired? %>
              <div class="callout warning">
                <%= t("polls.show.already_voted_in_web") %>
              </div>
          <% end %>
      <% end %>
      <div id="myAlertPolls"></div>
      <div class="row margin-top">
        <div class="small-12 medium-12 large-12 column" id="fatherOfAllAnswer">
          <% @questions.each do |question| %>
              <%= render 'polls/questions/question', question: question, token: @token %>
          <% end %>
        </div>
      </div>
      <div id="myAlertPolls2"></div>

      <% if poll_voter_token(@poll, current_user).empty? %>
          <div class="callout token-message js-token-message" style="display: none">
            <%= t('poll_questions.show.voted_token') %>
          </div>
      <% end %>

      <%= link_to t("polls.show.participate_in_other_polls"), polls_path, class: "button hollow" %>
    </div>
  </div>
  <div id="myAlertPolls2"></div>

  <!--SCRIPT DE AVISOS DE VOTACIONES-->
  <% unless !can?(:answer, @poll) %>
      <% if !current_user.nil? %>
          <script type="text/javascript" charset="utf-8">
              <%= render :file => 'custom/polls/alert_prior_polls.js.erb' %>
          </script>
      <% end %>
  <% end %>
</div>
