<%= form_for [:admin, budget, group], html: {id: id, style: display_budget_goup_form(group), class: css_class}, remote: true do |f| %>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-5 cell">
        <%= f.label :name do %>
          <%= t("admin.budgets.form.group") %>
          <%= f.text_field :name,
                            label: false,
                            maxlength: 50,
                            placeholder: t("admin.budgets.form.group"),
                            class: "input-group-field" %>
        <% end %>
      </div>

      <div class="medium-5 cell">
        <% if group.persisted? %>
          <%= f.label :name do %>
            <%= t("admin.budgets.form.max_votable_headings") %>

            <%= f.select :max_votable_headings,
                        (1..group.headings.count),
                        label: false,
                        placeholder: t("admin.budgets.form.max_votable_headings"),
                        class: "input-group-field" %>
          <% end %>
        <% end %>
      </div>

      <div class="medium-2 cell">
        <%= f.submit button_title, class: "button success" %>
      </div>
    </div>
  </div>
<% end %>
