<h2><%= t("admin.volunteers.search.title") %></h2>

<%= render 'admin/shared/user_search', url: search_admin_volunteers_path %>

<div id="volunteers">
  <% if @users.any? %>
    <h3><%= page_entries_info @users %></h3>

    <table>
      <thead>
        <th scope="col"><%= t("admin.volunteers.index.name") %></th>
        <th scope="col"><%= t("admin.volunteers.index.email") %></th>
        <th scope="col" class="small-3"><%= t("admin.shared.actions") %></th>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.volunteer? && user.volunteer.persisted? %>
              <%= link_to t('admin.volunteers.volunteer.delete'),
                          admin_volunteer_path(user),
                          method: :delete,
                          class: "button hollow alert expanded" %>
            <% else %>
              <%= link_to t('admin.volunteers.volunteer.add'),
                          { controller: "admin/volunteers",
                            action: :create,
                            user_id: user },
                          method: :post,
                          class: "button success expanded" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="callout alert margin">
      <%= t("admin.shared.no_search_results") %>
    </div>
  <% end %>
</div>
